<html>
  <head>
      <title>Marimbanator's Blog</title>
  <head>
  <body>
     <div>
        <h1><a href="/">Django Beginner Blog</a></h1>
    </div>
{% for post in posts %}
  <div>
    <p>published: {{ post.published_date }}</p>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.txt|linebreaksbr }}</p>
  <div>
{% endfor %}
    <div>
        <p>published: 20.12.2018, 12:34</p>
        <h2><a href="">My First Post</a></h2>
        <p>I am learning how to do programing because I need to gain some more
          skills If I'm going to be able to get another job.  Teaching students
          has worn me out and I need to do something different!! I hope your
          understand.
    <div>

    <div>
        <p>published: 20.12.2018, 12:37</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Can you believe it took me this long to write html for this Second
          paragraph?  How am I ever going to learn this?!!</p>
    <div>
  </body>
</html>
